<div class="login-form">
        <h2>Login</h2>

        <form>
        <div>
            <label for="email">Email</label>
            <input [(ngModel)]="email" type="email" id="email" name="Email" required>
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input [(ngModel)]="pasword" type="password" id="password" name="password" required>
        </div>
        <div>
            <p>¿Todavía no tienes una cuenta?</p><a href="/auth/registro">Registrate aquí</a>
        </div>
        <div>
        <label class="check">Recuerdame
            <input type="checkbox" id="rememberCheckBox">
            <span class="checkmark"></span>
        </label>
        </div>
        <div>
          <button (click)="enviarLogin()" class="btn btn-primary">Acceder</button>
        </div>
        <footer class="footer">
            <p>&copy; 2023 Bank Company</p>
            <p class="author">Powered by Ever Banco</p>
        </footer>