

.main-form {
    
    justify-content: center;
    background: whitesmoke;
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin: 100px;
    padding: 20px;
    width: 400px;
    margin: auto;
    margin-top: 20px;
}

.main-form h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}


.main-form input {
    display: block;
    height: 40px;
    width: 100%;
    padding-left: 10px;
    font-size: 18px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid blue;
    box-sizing: border-box;
}

.main-form div {
    margin: 20px 0;
}

.main-form a {
    text-decoration: none;
}


.main-form button {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid blue;
    background-color: rgb(37, 228, 228);
    font-size: 18px;
    padding: 0 25px;
    cursor: pointer;
}

.main-form button a {
    text-decoration: none;
    color: snow;
}

.main-form button a:hover {
    color: black;
}

.footer {
    align-self: center;
}

.footer .author {
    font-size: 12px;
}

