<div class="main-form">
    <h2>Nueva Transferencia</h2>
    <div>
    <input [(ngModel)]="nuevaTransferencia.beneficiario.id" type="id" placeholder="ID Beneficiario" />
    </div>
    <div>
    <input [(ngModel)]="nuevaTransferencia.importe" step="0.01" type="number"   />
    </div>
    <div>
    <input [(ngModel)]="nuevaTransferencia.concepto" type="text" placeholder="Concepto" />
    </div>
    <br>
    <button (click)="enviarTransferencia()">Confirmar</button>
    <p>{{ feedback }}</p>
</div>
