.header-logo {
    margin: auto;
    text-align: center;
    display: block;
}

.header-logo img {
    width: 120px;
}
.active-menu {
    background-color: none;
}
.dropdown-menu {
    position: relative;
}

.dropdown-menu .submenu {
    display: none;
    position: absolute;
}

.dropdown-menu:hover .submenu {
    display: block;

}

.main-menu {
    display: flex;
    gap: 9px;
    list-style: none;
    background-color: transparent;
    justify-content: flex-start;
    height: 50px;
    
}

h1 {
    text-align: center;
}

.main-menu a {
    color: white;
    text-decoration: none;
}

.main-menu a:hover {
    color: black;
}
.main-menu li {
    float: none;
    display: inline-block;
    padding: 10px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-menu li:hover {
    background-color:rgba(0, 128, 128, 0.5);
}

.main-menu .linea {
    border-top: 3px solid black;
    height: 2px;
    max-width: 100px;
    padding: 200px;
    margin: 20px auto 0 auto;
    justify-content: first baseline;
}

.linea {
    
    gap: 10px;
}