<img class="header-logo" src="ever_banco-removebg-preview.png" alt="Logo Ever Banco">
<nav class="main-menu">
  <ul>
    <li><a routerLink="/auth/login">Inicio/Login</a></li>
    <li><a routerLink="/pages/dashboard">Panel</a></li>
    <li><a routerLink="/pages/transferencias-recibidas">Transferencias Recibidas</a></li>
    <li><a routerLink="/pages/transferencias-enviadas">Transferencias Enviadas</a></li>
    <li><a routerLink="/pages/detalle-transferencia">Detalle Transferencia</a></li>
    <li><a routerLink="/pages/mi-cuenta">Mi Cuenta</a></li>
    <li><a routerLink="/pages/nueva-transferencia">Nueva Transferencia</a></li>
    <li><a routerLink="/pages/transferencia">Transferencia</a></li>
  </ul>
</nav>
<!-- aqui se recarga el componente al recargar la pagina-->
<router-outlet></router-outlet>
