.main-panel {
    display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 400px;
    padding: 20px;
    margin: auto;
    justify-content: center;
    
    
}

div {
    margin: 20px;
}

.main-panel button {
    height: 50px;
    width: 50%;
    border-radius: 5px;
    border: 1px solid blue;
    background-color: rgb(37, 228, 228);
    font-size: 18px;
    padding: 0 25px;
    cursor: pointer; 
    
}

.main-panel button a {
    text-decoration: none;
    color: white;
}

.main-panel button a:hover {
    color: black;
}

.footer {
    text-align: center;
}

.footer .author {
    font-size: 12px;
}