.main-panel {
    display: flex;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 400px;
    padding: 20px;
    margin: 40px;
    margin-bottom: 20px;
    
}

.main-panel button {
    text-align: center;
    font-size: 20px;
    border-radius: 10%;
    padding: 60px;
    padding-top: 50px;
    margin: 100px;
    cursor: pointer;
    
}

.main-panel button a {
    text-decoration: none;
}

.footer {
    text-align: center;
}

.footer .author {
    font-size: 12px;
}